.mb-20 { 
    margin-bottom: 20px;
}
.contact-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1040px;
}
.contact-detail {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
}
.rider-img {
    width: 100px;
    margin-left: 50px;
}
.delivery-man {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.super-fast {
    width: 60px;
    padding-right: 20px;
}
.contact-address {
    display: flex;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
}
.both-address {
    color: #888;
    margin-bottom: 20px;
}
.circle {
    width: 10px;
    height: 10px;
    background: #f91944;
    border-radius: 50%;
    margin-right: 7px;
}
.state-line {
    margin-left: 5px;
    width: 1px;
    height: 48px;
    background: #e0e0e0;
}
.circle-1 {
    margin-top: 5px;
}
.arrival-time {
    font-size: 35px;
}
.circle-2 {

}
