.login-container {
    /* background-image: url("https://i.ibb.co/4mpfG7F/bannerbackground.png"); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
   
    /* height: 100vh; */
}
.login-image {
    width: 220px;
}

.input-box {
    display: block;
    margin: 20px auto;
    padding: 10px 5px;
    width: 400px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: #f5f5f5;
}
.active-btn {
    background-color: #f91944;
    color: #ffffff;
}

.login-paragraph {
    color: #f91944;
    margin-bottom: 40px;
    cursor: pointer;
    display: inline-block;
}